{% extends "app_base.html" %}
{% block content %}
<h3> ItemID:  {{item_id}} </h3> 
{% if item_details %}
{% for key in item_details %}
	<div>
		{% if key == 'ItemID' %}
			</div>
			{{ "Categories: "}}
			{% for cat in item_cats %}
				<span>{{ cat.Category|e + ", "}}</span>
			{% endfor %}
		{% else %}
			<span>{{ key|e + ":"}}</span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span>{{ item_details[key]|e }}</span>
			{% if key == 'Number_of_Bids' %}
				{% if item_bids %}
					<table class="table table-bordered">
						<thead>
	                        <tr>
	                            <th>Bid #</th>
	                            <th>User</th>
	                            <th>Bid Amount</th>
	                            <th>Time</th>
	                        </tr>
	                    </thead>
	                    <tbody>
							{% for bid in item_bids %}
							<TR>
								<TD class="Bid"> {{loop.length - loop.index0}}
								<TD class="User">{{bid.UserID}}</TD>
								<TD class="Bid Amount">{{bid.Amount}}</TD>
								<TD class="Time">{{bid.Time}}</TD>
							</TR>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			{% endif %}
		{% endif %}	
	</div>
{% endfor %}
  	<div>--------</div>
{% else %}
<div>No item</div>
{% endif %}
</ul>

{% endblock %}

